@import "variables";
@import "mixins";

html {
  font-size: 14px;
}

body {
  background-color: $main-background-color;
}

.box-container {
  @include container;
  @include marginTopBottom;
  @include paddingHorizontal;
  @include paddingVertical;

  background-color: $front-background-color;
  border: 1px solid $border-color;
}

.box {
  background-color: $front-background-color;
  border: 1px solid $border-color;
  border-radius: 3px;
}

.apart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.full-header-container {
  background-color: $front-background-color;
  border-bottom: 1px solid $border-color;
}
