.amount-zero {
  color: #cfd5d8;
}

.amount-positive,
.amount-negative {
  color: #373a3c;
}

.amount-color {
  color: white;
  padding: 0.14rem 0.5rem;
  border-radius: 1rem;
  font-weight: bold;

  &.amount-zero {
    background-color: #cfd5d8;
  }

  &.amount-goal {
    background-color: #ffdb58;
  }

  &.amount-positive {
    background-color: #84ecae;
  }

  &.amount-negative {
    background-color: #ffa48f;
  }
}
