@import '../styles/mixins';

.transaction-total {
  @include paddingVertical;
  @include paddingHorizontal;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .transaction-total-label {
    padding-right: 0.8rem;
  }
}
