.react-selectize {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #55595c;
}

.react-selectize.root-node {
  position: relative;
}

.react-selectize.root-node.disabled {
  pointer-events: none;
}

.react-selectize.root-node .react-selectize-control {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  font-size: 1rem;
}

.react-selectize.root-node
  .react-selectize-control
  .react-selectize-placeholder {
  color: #aaa;
  text-indent: 8px;
  display: block;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  position: absolute;
  max-width: calc(100% - 56px);
}

.react-selectize.root-node
  .react-selectize-control
  .react-selectize-search-field-and-selected-values {
  display: flex;
  padding-left: 5px;
  min-height: 30px;
  flex-grow: 1;
  flex-wrap: wrap;
}

.react-selectize.root-node
  .react-selectize-control
  .react-selectize-search-field-and-selected-values
  .resizable-input {
  background: none;
  border: none;
  outline: none;
  font-size: 1em;
  margin: 2px;
  padding: 4px 0;
  vertical-align: middle;
  width: 0;
}

.react-selectize.root-node
  .react-selectize-control
  .react-selectize-search-field-and-selected-values
  .value-wrapper {
  display: flex;
  align-items: center;
}

.react-selectize.root-node
  .react-selectize-control
  .react-selectize-reset-button-container {
  flex-grow: 0;
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 16px;
}

.react-selectize.root-node
  .react-selectize-control
  .react-selectize-reset-button-container:hover
  .react-selectize-reset-button
  path {
  stroke: #c0392b;
}

.react-selectize.root-node
  .react-selectize-control
  .react-selectize-toggle-button-container {
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 32px;
}

.react-selectize.root-node
  .react-selectize-control
  .react-selectize-reset-button
  path {
  transition: stroke 0.5s 0s ease;
  stroke: #999;
  stroke-linecap: square;
  stroke-linejoin: miter;
}

.react-selectize.root-node
  .react-selectize-control
  .react-selectize-toggle-button
  path {
  fill: #999;
}

.react-selectize.dropdown-menu-wrapper {
  position: absolute;
}

.react-selectize.dropdown-menu-wrapper:not(.tethered) {
  width: 100%;
}

.react-selectize.dropdown-menu-wrapper.tethered {
  min-width: 300px;
}

.react-selectize.dropdown-menu {
  display: block;
  box-sizing: border-box;
  overflow: auto;
  position: absolute;
  max-height: 200px;
  z-index: 10;
  background: #fff;
  border: 1px solid #80bdff;
  margin-top: -1px;
  border-radius: 0 0 0.25rem 0.25rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.react-selectize.dropdown-menu:not(.tethered) {
  width: 100%;
}

.react-selectize.dropdown-menu .groups.as-columns {
  display: flex;
}

.react-selectize.dropdown-menu .groups.as-columns > div {
  flex: 1;
}

.react-selectize.dropdown-menu .no-results-found {
  color: #aaa !important;
  font-style: oblique;
  padding: 8px 10px;
}

.react-selectize.dropdown-menu
  .groups:not(.as-columns)
  > div:not(:first-child) {
  border-top: 1px solid #e5e5e5;
  margin: 12px 0 0 0;
}

.react-selectize.dropdown-menu .simple-group-title {
  background-color: #fff;
  color: #999;
  padding: 8px 8px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

.react-selectize.dropdown-menu .option-wrapper.highlight {
  background: #428bca;
}

.react-selectize.dropdown-menu .option-wrapper.highlight .simple-option {
  color: #fff;
}

.react-selectize.dropdown-menu .option-wrapper {
  cursor: pointer;
  outline: none;
}

.react-selectize.dropdown-menu .option-wrapper .simple-option {
  color: #333;
  cursor: pointer;
  padding: 8px 10px;
}

.react-selectize.dropdown-menu .option-wrapper .simple-option.not-selectable {
  background-color: #f8f8f8;
  color: #999;
  cursor: default;
  font-style: oblique;
  text-shadow: 0 1px 0 #fff;
}

.react-selectize.dropdown-menu.tethered {
  min-width: 300px;
}

.simple-select.react-selectize.root-node .simple-value {
  margin: 2px;
}

.simple-select.react-selectize.root-node .simple-value span {
  display: inline-block;
  vertical-align: center;
}

.react-selectize.root-node.open .react-selectize-control {
  border-radius: 0.25rem 0.25rem 0 0;
  background-color: #fff;
  border-color: #80bdff;
}

.react-selectize.is-invalid .react-selectize-control {
  border-color: #dc3545;
}

.react-selectize ~ .invalid-feedback {
  display: block;
}

.react-selectize.dropdown-menu-wrapper.flipped {
  margin-bottom: 5px;
}

.react-selectize.dropdown-menu-wrapper:not(.flipped) {
  margin-top: 5px;
}

.react-selectize.dropdown-menu-wrapper .dropdown-menu.custom-enter-active {
  transition: opacity 0.2s 0s ease;
  opacity: 1;
  filter: none;
}

.react-selectize.dropdown-menu-wrapper .dropdown-menu.custom-leave-active {
  transition: opacity 0.2s 0s ease;
  opacity: 0;
  filter: alpha(opacity=0);
}

.react-selectize.dropdown-menu-wrapper .dropdown-menu.custom-enter {
  opacity: 0;
  filter: alpha(opacity=0);
}

.react-selectize.dropdown-menu-wrapper .dropdown-menu.custom-leave {
  opacity: 1;
  filter: none;
}

.react-selectize.dropdown-menu.flipped {
  margin-bottom: 5px;
}
