@import "../../../styles/variables";

.login-full-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-image: url("../../../images/land_slim.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #cccccc;
}

.login-container {
  margin: 1rem;
  padding: 3rem;
  background-color: $front-background-color;
  border: 1px solid $border-color;
  border-radius: 6px;
}
