@import "../styles/variables";
@import "../styles/mixins";

.account-header-container {
  background-color: $front-background-color;
  border-bottom: 1px solid $border-color;
}

.account-header {
  @include container;
  @include paddingHorizontal;
  @include paddingVertical;
  display: flex;
  align-items: center;
  justify-content: center;

  > h1 {
    margin-right: 2rem;
  }
}

@media (min-width: 768px) {
  .account-header {
    justify-content: flex-start;
  }
}
