.account-header {
  display: flex;
  padding: .5rem 0;
  align-items: center;
  justify-content: center;

  color: white;
  background-color: #373a3c;

  > h1 {
    margin-right: 2rem;
  }
}

@media (min-width: 768px) {
  .account-header {
    justify-content: flex-start;
    padding: 1rem 5rem;
  }
}
