.budget-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  color: rgba(255, 255, 255, 0.7);
  background-color: #373a3c;
}

.budget-header-amounts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.budget-header-amounts-available {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .5rem 1rem;
  .amount-color {
    font-size: 2rem;
  }
}

.budget-header-amounts-details {
  display: flex;
  margin: .5rem;
}

.budget-header-amounts-details-amount {
  text-align: right;
}

.budget-header-amounts-details-names {
  margin-left: .3em;
}
