.tr-form {
  background-color: #eceff1;
  border-width: 1px;
  border-color: #eceff1 - #222;
  border-style: solid;
  padding: 0.5em;
}

.tr-form-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #eceff1 - #222;
  margin: .5rem;

  > div {
    flex: 1 1 150px;
    padding: 0.5rem;
  }
}
